.user-container {
    margin: 50px auto;
}

mat-card {
    align-items: center;
    font-size: 30px;
    padding-top: 50px;
    color: green;
}

.center-button {
    display: block;
    margin: 0 auto;
    background-color: rgb(2, 214, 2);
  }